:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  justify-items: center;
  margin: 0 5%;
}

.tik-talk-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 400px;
}

.password-input {
  position: relative;
}

.password-eye-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  //transform: translateY(-50%);
  background: none;
  border: none;
  color: #ffffffbf;
  cursor: pointer;
}

.password-eye-btn.active {
  color: var(--red);
}
